/*
Hauptstylesheet
Schritt 10
*/


/*
        RESET
        */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.main-nav {
    display: none;
}

nav a {
    text-decoration: none;
}

img {
    width: 100%;
}





/*
LAYOUT
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
    margin-bottom: 1rem;
}



nav > ul,
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 20px;
}

.burger-icon {
    margin: 0 auto;
    padding: 1em 20px;
}

header {
    padding-top: 55px;
}

main {
    min-height: 70vh
}



footer {
    min-height: 30vh;
}

nav.mobile-nav {
    height: 100vh;
    padding-top: 55px;
}

aside {
    padding: 0.5em;
}

main > section {
    padding-top: 3em !important;
}


/*
NAVIGATION
*/

nav a {
    color: #fff;
}

nav.main-nav > ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav.burger-icon {
    /*            position: fixed;*/
    /*            top: 0;*/
    display: flex;
    width: 100%;
    background: hsla(200, 21%, 13%, 0.8);
    font-size: 2em;

}


nav.burger-icon div {
    width: 48px;
    height: 48px;
}

nav.burger-icon a.mobile-nav-open div {
    background: green;
}

nav.burger-icon a.mobile-nav-close div {
    background: red;
}


nav.mobile-nav a {
    font-size: 2em
}


/*
TYPOGRAPHY
*/


body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-size: 15px;
}


/**-----
Font Sizes
-----**/

h4,
main p,
main ul {
    font-size: 0.9em;
}

h2,
h2.faux-h1,
h1 {
    font-size: 3em;
}



h3 {
    font-size: 1.8em;
}

/**-----
Font Weight
-----**/

h1,
h2.faux-h1,
h3,
h4 {
    font-weight: 600
}

h2 {
    font-weight: 100;
}


h3 {
    text-transform: uppercase;
}

main ul {
    padding-left: 1em;
}


/*---------------------
COLOR & STYLE
---------------------*/


:root {
    --cool-hue: 200;
    
    --color-cool-sub-white: hsl(var(--cool-hue), 21%, 97%);
    --color-cool-grey-light: hsl(var(--cool-hue), 21%, 89%);
    --color-cool-grey-mid-light: hsl(var(--cool-hue), 21%, 76%);
    --color-cool-grey-mid: hsl(var(--cool-hue), 21%, 55%);
    --color-cool-grey-mid-dark: hsl(var(--cool-hue), 21%, 34%);
    --color-cool-grey-dark: hsl(var(--cool-hue), 21%, 21%);
    --color-cool-sub-black: hsl(var(--cool-hue), 21%, 5%);
    
    --color-primary: hsl(var(--cool-hue), 97%, 42%);
    --color-primary-light: hsl(var(--cool-hue), 97%, 76%);
    --color-primary-dark: hsl(var(--cool-hue), 97%, 34%);
    
    --color-accent: hsl(100,97%,55%);
    
    --color-type: var(--color-cool-grey-dark);
}

body {
    background: var(--color-cool-grey-dark);
}

header {
    background: hsl(200, 21%, 55%);
    background: var(--color-primary-light);
}

nav a:hover {
    color: var(--color-accent);
    
}

main {
    background: var(--color-cool-sub-white);
}

main > section {
    border-bottom: 1px solid hsl(200, 21%, 76%);
}

header,
aside,
footer {
    color: var(--color-cool-sub-white);
    /*    color: rgb(215,215,245);*/
    /*    color: #fff;*/
}

aside {
    background: hsl(200, 21%, 55%);
}

/*
        RESPONSIVE (MOBILE FIRST)
        */

/*
Media Query um den Breakpoint von Mobil auf Tablet zu definieren. Voergehensweise: Mobile First.
        */
@media only screen and (min-width: 580px) {

    nav.main-nav {
        display: block;
    }

    nav.burger-icon,
    nav.mobile-nav {
        display: none;
    }


    .nav-bar > ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 1em;
    }

    .faux-columns {
        display: flex;
        flex-wrap: wrap;
    }

    .faux-columns > * {
        width: 50%;
        padding-right: 16px;
    }

    .true-columns {
        column-count: 2;
        column-gap: 2em;
    }

    /*Verhindert, dass das Element zwischen Spalten umbrochen wird*/
    .no-break {
        break-inside: avoid-column;
    }

    .has-sidebar {
        display: flex;
        flex-wrap: wrap;
    }

    .has-sidebar > section {
        width: 70%;
        padding-right: 16px;
    }

    .has-sidebar > aside {
        width: 30%;
    }

}



@media only screen and (min-width: 960px) {
    .faux-columns > * {
        width: 33.33%;
    }

    .true-columns {
        column-count: 3;
    }

}

@media only screen and (min-width: 1200px) {
    .faux-columns > * {
        width: 25%;
    }

    .true-columns {
        column-count: 4;
    }


    .has-sidebar > section {
        width: 80%;
    }

    .has-sidebar > aside {
        width: 20%;
    }

}
