        /*
        RESET
        */

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav.main-nav {
            display: none;
        }

        nav a {
            text-decoration: none;
        }


        /*
        LAYOUT
        */

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin-bottom: 1rem;
        }



        nav > ul,
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 1em 20px;
        }

        header {
            padding-top: 55px;
        }

        main {
            min-height: 200vh
        }

        footer {
            min-height: 30vh;
        }

        nav.mobile-nav {
            height: 100vh;
            padding-top: 55px;
        }


        /*
        NAVIGATION
        */

        nav a {
            color: #fff;
        }

        nav.main-nav > ul {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        nav.burger-icon {
            position: fixed;
            top: 0;
            display: flex;
            width: 100%;
            background: hsla(200, 21%, 13%, 0.8);
        }


        nav.burger-icon div {
            width: 48px;
            height: 48px;
        }

        nav.burger-icon a.mobile-nav-open div {
            background: green;
        }

        nav.burger-icon a.mobile-nav-close div {
            background: red;
        }


        nav.mobile-nav a {
            font-size: 2em
        }



        /*
        COLOR & STYLE
        */

        body {
            background: hsl(200, 21%, 13%);
        }

        header {
            background: hsl(200, 21%, 55%);
        }

        nav {}

        main {
            background: hsl(200, 5%, 97%);
        }

        header,
        footer {
            color: #fff;
        }

        /*
        RESPONSIVE (MOBILE FIRST)
        */

        /*
Media Query um den Breakpoint von Mobil auf Tablet zu definieren. Voergehensweise: Mobile First.
        */
        @media only screen and (min-width: 580px) {

            nav.main-nav {
                display: block;
            }

            nav.burger-icon,
            nav.mobile-nav {
                display: none;
            }


            .nav-bar > ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                grid-gap: 1em;
            }

        }
