

/*---------------------
RESET
---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav.main-nav {
    display: none;
}


/*---------------------
LAYOUT
---------------------*/

h1,h2,h3,h4,h5,h6,p,ul,ol,figure {
    padding: 0 20px;
    margin-bottom: 1em;
}

header {
    padding-top: 100px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

article {
    display: flex;
    flex-wrap: wrap;
}



h2 {
    width: 100%
}

footer {
    min-height: 500px;
}

/*---------------------
TYPOGRAPHY
---------------------*/

body {
    font-family: Arial, sans-serif;

}

main {
    font-size: 1.3em;
}


/*---------------------
COLOR & STYLE
---------------------*/

header {
    background: orange;
}


footer {
    background: darkgrey;
}

/*---------------------
NAVIGATION
---------------------*/

nav.burger-icon {
    position:fixed;
    top: 0;
    right: 0;
    padding: 0.5em;
}


nav.burger-icon div {
    width: 50px;
    height: 50px;
    background: red;
}

nav.main-nav {
    background: rgba(0,0,0,0.9);
    position: sticky;
    top: 0;
}


nav.main-nav > ul {
    display: flex;
    list-style-type: none;
}

nav.main-nav > ul > li {
    margin-right: 1em;
}

nav.main-nav > ul > li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 0.5em 0;
}

nav.main-nav > ul > li a:hover {
    color: rgb(255,128,0);    
}


nav.mobile-nav {

}

nav.mobile-nav ul {
       list-style-type: none; 
    padding: 0;
}

nav.mobile-nav > ul > li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 0.5em 1em;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 1px;
}

/*---------------------
COMPONENTS
---------------------*/



/*---------------------
RESPONSIVE (MEDIAQUERIES)
---------------------*/

@media only screen and (min-width: 600px) {

    p {
        width: 45%;
        padding-right: 1em;
    }

    main {
        font-size: 1em;
    }

}


@media only screen and (min-width: 900px) {

    p {
        width: 33%;
    }
}
