/*
Stylesheet Responsive Design Basics
Step 0 (Setup)
© 2024 Enno Hyttrek
*/


/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}


/*
LAYOUT
*/


.container {
    padding: 2rem 20px;
}

/*
COLOR
*/

/*
RESPONSIVE
*/

@media only screen and (min-width: 580px) {

}



