/*
Stylesheet Responsive Design mit HTML5 und CSS3
Schritt 3
*/

/*
RESET
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

nav a {
    text-decoration: none;
}



/*
LAYOUT
*/

header.main-header,
nav.main-nav,
section,
footer {
        padding: 1rem 20px;
}

/**
"Bühnengröße" für die Hauptelemente
**/
header.main-header > *,
nav.main-nav > *,
section > *,
footer > * {
    max-width: 1200px;
    margin: 0 auto;
}


h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 1em;
}


section.gallery ul li {
            padding: 1px;
}


nav.main-nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav.main-nav ul > li {
    margin-right: 1em;
}



/*
RESPONSIVE (MEDIA QUERIES)
*/

@media only screen and (min-width: 600px) {
    
    section.gallery ul {
        display: flex;
        flex-wrap: wrap;
    }
    
    section.gallery ul li {
        flex-basis: 33.33%;
    }
    
}