/*
Stylesheet Responsive Design mit HTML5 und CSS3
Schritt 4
*/

/*
RESET
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

nav a {
    text-decoration: none;
}



/*
LAYOUT
*/

header.main-header,
nav,
main > section,
aside,
footer {
    padding: 1rem 20px;
}

header.main-header > *,
nav.main-nav > *,
/*main > section > *,*/
.main-wrapper,
footer > * {
    max-width: 1200px;
    margin: 0 auto;

}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1em;
}


section.gallery ul li {
    padding: 1px;
}

/**
Layout Navigation
**/


nav.main-nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav.main-nav ul > li {
    margin-right: 1em;
}

nav.burger-icon {
text-align: right;
}


/*
TYPOGRAFIE
*/

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

main p {
    font-family: 'Petrona', serif;
    line-height: 1.3;
}


/**
Typografie Navigation
**/

nav.burger-icon {
    font-size: 2em;
}




/*
COLOR & STYLE
*/

/**
Color Variables
**/

:root {
    /*Grey scale*/
    --hue-greyscale: 190;
    --color-dark-grey: hsl(var(--hue-greyscale), 42%, 13%);
    --color-dark-mid-grey: hsl(var(--hue-greyscale), 21%, 21%);
    --color-mid-grey: hsl(var(--hue-greyscale), 21%, 34%);
    --color-mid-light-grey: hsl(var(--hue-greyscale), 21%, 55%);
    --color-light-grey: hsl(var(--hue-greyscale), 8%, 89%);
}

/**
Main Elements Backgrounds
**/

body {
    background: var(--color-dark-grey);
}

.main-header {
    background: var(--color-dark-mid-grey);
}

nav {
        background: var(--color-light-grey);
}

main {
    background: #fff;
}

aside {
    background: var(--color-mid-grey);
}

/**
Main Elements Type
**/

.main-header, footer, aside,
.main-header a, footer a, aside a {
    color: #fff;
}

main, nav,
main a, nav a {
    color: var(--color-dark-grey);
}


/*
RESPONSIVE (MEDIA QUERIES)
*/

@media only screen and (min-width: 600px) {

    .main-wrapper {
        display: flex;
    }

    main {
        flex-basis: 70%;
    }

    aside {
        flex-basis: 30%;
    }

    section.gallery ul {
        display: flex;
        flex-wrap: wrap;
    }

    section.gallery ul li {
        flex-basis: 33.33%;
    }

}
