/*
Stylesheet Responsive Design Basics
© 2024 Enno Hyttrek
*/


/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.gallery ul {
    list-style-type: none;
}


/*
LAYOUT
*/


.container {
    padding: 2rem 20px;
}

.gallery li {
    padding: 5px;
}



/*
COLOR
*/

/*
RESPONSIVE
*/

@media only screen and (min-width: 580px) {
    
.gallery ul {
    display: flex;
    flex-wrap: wrap;
}

.gallery li {
    width: 50%;
}

}


@media only screen and (min-width: 1200px) {
    
    .gallery li {
    width: 33.33%;
}
    
}



